<% title = 'Att bo i bostadsrätt'; %>
<% currentPage = '/om-oss/bostadsratt'; %>

<% body = `
  <h3>Vad innebär det att bo i bostadsrätt?</h3>
  <p>Att bo i en bostadsrätt innebär att du är medlem i en bostadsrättsförening som äger fastigheten där din lägenhet finns. Du äger rätten att bo i din lägenhet och har inflytande i föreningen genom din rösträtt på föreningsstämman.</p>
  
  <h3>Ditt ansvar som bostadsrättshavare</h3>
  <p>Som bostadsrättshavare har du ansvar för underhållet av din lägenhet, med undantag för vissa delar som är föreningens ansvar. Du ansvarar för ytskikt, inredning, vitvaror, och andra installationer som du själv har tillfört.</p>
  
  <h3>Föreningens ansvar</h3>
  <p>Föreningen ansvarar för underhåll av fastighetens stomme, fasad, tak, och gemensamma utrymmen. Även stamledningar för avlopp, värme, elektricitet och vatten är normalt föreningens ansvar fram till lägenheten.</p>
` %>

<%- include('../../partials/content-template') %>