<% title='Föreningsstämma' ; %>
  <% currentPage='/om-oss/foreningsstamma' ; %>

    <% body=` <h3>Föreningsstämma</h3>
      <p>Föreningsstämman är BRF Råstenen Mitts högsta beslutande organ där du som medlem har möjlighet att påverka hur förening ska drivas. Här samlas alla medlemmar en gång per år för att ta viktiga beslut om föreningens framtid.</p>

      <h3>Årsstämma</h3>
      <p>Varje år håller BRF Råstenen Mitt en ordinarie föreningsstämma (årsstämma) där vi bland annat:</p>
      <ul>
        <li>Granskar styrelsens förvaltning under det gångna året.</li>
        <li>Fastställer resultat- och balansräkning.</li>
        <li>Beslutar om disposition av årets resultat.</li>
        <li>Beslutar om ansvarsfrihet för styrelsen.</li>
        <li>Väljer styrelse, revisor och valberedning.</li>
        <li>Behandlar inkomna motioner från medlemmar.</li>
        <li>Beslutar om årsavgift och budget för kommande verksamhetsår.</li>
      </ul>
      <p>Årsstämman hålls vanligtvis i maj månad i föreningslokalen på Hemvägen. Inför stämman skickar styrelsen ut en kallelse med dagordning och övriga handlingar senast två veckor före stämman.</p>

      <h3>Motioner</h3>
      <p>Som medlem har man rätt att lämna in förslag (motioner) till föreniingsstämman. En motion är ett förslag på förändring eller förbättring som man vill att föreningen ska genomföra.</p>

      <p>För att lämna in en motion inför årsstämman ska den:</p>
      <ul>
        <li>Vara skriftlig</li>
        <li>Innehålla en tydlig beskrivning av förslaget</li>
        <li>Innehålla en tydlig "att-sata" som beskriver vad man vill att stämman ska besluta.</li>
        <li>Lämnas till styrelsen senast den...?</li>
      </ul>

      <h3>Extra föreningsstämma</h3>
      <p>Om det uppkommer viktiga frågor som inte kan vänta till nästa ordinarie årsstämma kan styrelsen kalla till en extra föreningsstämma. En extra stämma kan också hållas om revisor eller minst en tiondel av samtliga röstberättigade medlemmar begär det.</p>

      <h3>Rösträtt och ombud</h3>
      <p>På föreningsstämman har varje lägenhet en röst. Om flera personer äger en lägenhet tillsammans har de gemensamt en röst. Om man inte har möjlighet att närvara personligen kan du ge fullmakt till ett ombud som röstar i ditt ställe. Ombudet kan vara din make/maka, sambo eller annan medlem i föreningen. En medlem får dock endast företräda en annan medlem genom fullmakt.</p>

      <h3>Varför är det viktigt att delta?</h3>
      <p>Föreningsstämman är ditt tillfälle att påverka ditt boende och föreningens framtid. Ju fler medlemmar som engagerar sig, desto bättre beslut kan man fatta tillsammans. Stämman är också ett utmärkt tillfälle att lära känna dina grannar och diskutera gemensamma frågor.</p>

      <p>Vi i BRF Råstenen Mitt uppmuntrar alla medlemmar att delta på stämman och att aktivt bidra till en positiv utveckling av vår förening!</p>
      ` %>

      <%- include('../../partials/content-template') %>