<% title = 'Mäklarinfo'; %>
<% currentPage = '/om-oss/Mäklarinfo'; %>

<% body = `
  <h3>Allmänt om föreningen</h3>
  <p>Föreningens namen: BRF Råstenen Mitt</p>
  <p>Organisationsnummer: 769638-6874</p>
  <p>Adress: Hemvägen 18 & 20, 393 61 Kalmar</p>
  <p>Föreningsform: Bostadsrättsförening</p>
  <p>Tillåter föreningen delat ägande? Ja</p>
  <p>Våningar: 2</p>
  <p>Parkeringsplats: Det ingår en parkeringsplats till varje lägenhet. Finns en gästparkering i föreningen samt en handikapparkering.</p>
  <p>Övriga utrymmen: Det ingår ett förråd till varje lägenhet sedan så finns det ett gemensamt barnvagnsförråd.</p>
  
  <h3>Byggnad</h3>
  <p>Byggår: 2020</p>
  <p>Byggnadstyp: Flerfamiljshus</p>
  <p>Energideklaration: Energideklaration är utförd</p>
  <p>Uppvärmning: Fjärrvärme</p>
  <p>Fönster: Isolerade 3-glasfönster</p>
` %>

<%- include('../../partials/content-template') %>