<% title='Skötselanvisningar för BRF Råstenen Mitt' ; %>
  <% currentPage='/om-oss/skotsel' ; %>

    <% body=` <h3>Kostnad</h3>
      <p>För att hålla kostnaderna nere i vår bostadsrättsförening sköter vi själva om våra tomter. Detta skapar inte bara en ekonomisk fördel utan bidrar även till en starkare gemenskap bland oss medlemmar.
      </p>

      <h3>Allmänna riktlinjer</h3>
      <ul>
        <li>Varje medlem ansvarar för skötseln av den tomt/trädgård som tillhör lägenheten</li>
        <li>Gemensamma grönytor sköts enligt rullande schema som kommer skickas via mail eller brev</li>
        <li>Redskap finns att låna i föreningens gemensamma förråd</li>
      </ul>

      <h3>Gemensamma granndagar</h3>
      <p><b>Vår-granndagen</b> och <b>Höst-granndagen</b> är viktiga tillfällen för föreningen:</p>

      <h3>Årstidsbaserad skötsel</h3>
      <p>Som medlem har man rätt att lämna in förslag (motioner) till föreniingsstämman. En motion är ett förslag på förändring eller förbättring som man vill att föreningen ska genomföra.</p>

      <p>För att lämna in en motion inför årsstämman ska den:</p>
      <ul>
        <li>Genomförs på bestämda datum före och efter sommarsäsongen</li>
        <li>Alla medlemmar förväntas delta för gemensam skötsel av föreningens ytor</li>
        <li>Arbetet följs av gemensam fika/grillning för att stärka grannskapet</li>
        <li>Datum för granndagarna meddelas i god tid via föreningens webbsida och mail/brev</li>
      </ul>
      ` %>

      <%- include('../../partials/content-template') %>