<!-- <nav class="main-nav">
  <ul>
    <li><a href="//">Hem</a></li>
    <li><a href="//om-oss">Om oss</a></li>
    <li><a href="//nyheter">Nyheter</a></li>
    <li><a href="//dokument">Dokument</a></li>
    <li><a href="//kontakt">Kontakt</a></li>
    <% if (user && user.authenticated) { %>
      <li><a href="//admin/dashboard">Dashboard</a></li>
      <li><a href="//admin/nyheter">Nyheter Admin</a></li>
      <li><a href="//admin/logout">Logga ut</a></li>
    <% } else { %>
      <li><a href="//admin/login">Logga in</a></li>
    <% } %>
  </ul>
</nav> -->
